@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes float {
  50% {
    transform: translateY(-25%);
  }
}

@keyframes spin-elastic-out {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(475deg);
  }
  28% {
    transform: rotate(313deg);
  }
  44% {
    transform: rotate(378deg);
  }
  59% {
    transform: rotate(352deg);
  }
  73% {
    transform: rotate(363deg);
  }
  88% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

html,
body,
input,
textarea {
  padding: 0;
  margin: 0;
  font-family:
    'SpoqaHanSansNeo',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
}

html {
  background-color: #fff;
}

body {
  width: 100vw;
  margin: 0 auto;
}

input,
textarea,
select {
  border: none;
  outline: none;
  opacity: 1;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}
