@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/fonts/SpoqaHanSansNeo-Regular.woff2');
    format('woff2');
}

* {
box-sizing: border-box;
}

html,
body,
input {
  padding: 0;
  margin: 0;
  font-family: 'SpoqaHanSansNeo', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-size: 20px;
}

html {
  background-color: #fff;
}

body {
  min-width: max-content;
  margin: 0 auto;
}

input,
textarea,
select {
  border: none;
  outline: none;
  opacity: 1;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}