@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../../public/fonts/SpoqaHanSansNeo-Regular.woff2');
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../../public/fonts/SpoqaHanSansNeo-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../../public/fonts/SpoqaHanSansNeo-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../../public/fonts/SpoqaHanSansNeo-Light.woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../../public/fonts/SpoqaHanSansNeo-Thin.woff2');
  font-weight: 100;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

* {
  box-sizing: border-box;
}

html,
body,
input {
  padding: 0;
  margin: 0;
  font-family:
    'SpoqaHanSansNeo',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
  font-size: 20px;
}

html {
  background-color: #fff;
}

body {
  min-width: max-content;
  margin: 0 auto;
}

input,
textarea,
select {
  border: none;
  outline: none;
  opacity: 1;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}
